body {
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
}
.section {
    padding-top: 20px;
    height: 100vh;
}
.hero {
    width: auto;
    height: auto;
    padding-top: 15%;
    padding-bottom: 5%;
    margin: 0;
}
.showsPanel{
    width: 70%;
    margin: auto auto;
}
.header {
    font-family: "Courier New", monospace;
    text-align: left;
    font-size: 2em;
}
.showsPanel, ul {
    text-align: left;
}
.showsList {
    font-family: "Courier New", monospace;
    font-size: medium;
}
.showsList, a, p {
    padding: 5px;
    font-size: medium;
}
.showsList a:hover{
    background-color: lightblue;
}
.bookingContact {
    width: 500px;
}
a {
    color: black;
}
.title {
    font-family: 'Courier New', monospace;
    font-weight: 100;
    font-size: 7rem;
    text-shadow: 5px 5px #807676;
    text-align: center;
    margin: 0;
    color: deepskyblue;
}
.navbar-item {
    display: inline-block;
    margin: 0;
}
.navbar {
    background: transparent;
}
#showsPageContainer {
    margin-top: 15%;
}