body {
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
}
.section {
    padding-top: 20px;
    height: 100vh;
}
.hero {
    width: 100%;
    height: auto;
    padding-top: 15%;
    padding-bottom: 5%;
    margin: 0;
}
.header {
    font-family: "Courier New", monospace;
    text-align: left;
    font-size: 2em;
}
.showsPanel, ul {
    text-align: left;
    width: 95%;
    margin: auto;
}
.showsList {
    /*margin-left: 5%;*/
    font-family: "Courier New", monospace;
    font-size: medium;
    text-align: center;

}
.showsList, a, p {
    padding-bottom: 5px;
    font-size: medium;
}
.bookingContact {
    width: 500px;
}
a {
    color: black;
}
.title {
    font-family: 'Bungee Shade', 'Courier New', monospace;
    text-align: center;
    margin: 0;
    color: deepskyblue;
}
.navbar-item {
    display: inline-block;
    margin: 0;
}
.navbar {
    position: fixed;
    top: 0;
    margin: 2px;
    /* padding: 1%; */
    /* border-radius: 5px; */
}
#showsContainer {
    margin: 10%;
}

@media (min-width: 550px) {
    .title {
        font-size: 4rem;
        text-shadow: 1px 1px gray;
    }
    .showsList, li {
        font-size: x-small;
    }
    .showsPanel, ul {
        width: 85%;
    }
    #contactForm {
        width: 100vw;
        padding-right: 3%;
    }
    .bookingContact {
        width: 100vw;
    }
}

@media (min-width: 872px) {
    .title {
        font-size: 7rem;
    }
    .showsList, li {
        font-size: medium;
    }
    .showsPanel, ul {
        width: 85%;
    }
    #contactForm {
        width: 100vw;
        padding: 1%;
    }
    .bookingContact {
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 1.5rem;
    }
    .showsList, li {
        font-size: 6px;
    }
    .showsPanel, ul {
        width: 90%;
    }
    #contactForm {
        width: 100vw;
        padding: 1%;
    }
    .bookingContact {
        width: 100vw;
    }
}
