body {
    /*background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/45681_1583464467189_7899072_n.jpg?oh=cceb25b55d1ee22fb2728baff0058c28&oe=5A15AD44");*/
    /*background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/294600_517101510309_7143579_n.jpg?oh=1585a1b244ae141ffbe698bf23fa7bf9&oe=5A177501");*/
    /*background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/339016_469424666412824_42981027_o.jpg?oh=dac87e1914790bb9a2a536fdb8d0e437&oe=5A1BD7CA");*/
    /*background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/741185_511379778883979_756516617_o.jpg?oh=adbb931b74eaa066c15c7a19d3147bbb&oe=5A1A5178");*/
    background-size: cover;
}
.section {
    padding-top: 20px;
    height: 100vh;
}
.container {
    margin-left: 2%;
}
.hero {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}
.header {
    font-family: "Courier New", monospace;
    font-size: 4rem;
    text-align: left;
}
.showsPanel, ul {
    text-align: left;
    width: 85%;
    margin: auto;
}
.showsList {
    /*margin-left: 5%;*/
    font-family: "Courier New", monospace;

}
.showsList, li {
    padding-bottom: 5px;
    font-size: x-small;
}
.bookingContact {
    width: 500px;
}
a {
    color: black;
}

.title {
    font-family: 'Bungee Shade', 'Courier New', monospace;
    text-align: center;
    margin: 0;
    /*vertical-align: middle;*/
    font-size: 2rem;
}
.navbar-item {
    display: inline-block;
}

@media (min-width: 550px) {
    .title {
        font-size: 3rem;
    }
    .showsList, li {
        font-size: small;
    }
}

@media (min-width: 872px) {
    .title {
        font-size: 5rem;
    }
    .showsList, li {
        font-size: large;
    }
}

@media (max-width: 390px) {
    .title {
        font-size: 1rem;
    }
    .showsList, li {
        font-size: x-small;
    }
}
